# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

# 3. Homework - work with your own data

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [2]:
df = pd.read_excel("WNPDATAHW2.xlsx")
print(df.head())

  U.S. Department of Energy, The Energy Information Administration (EIA)  \
0  EIA-923 Puerto Rico Monthly Generation and Fue...
1               Sources: EIA-923 and EIA-860 Reports
2  Note: Generation and fuel consumption data col...
3                                                NaN
4                                           Plant Id

                       Unnamed: 1  Unnamed: 2     Unnamed: 3   Unnamed: 4  \
0                             NaN         NaN            NaN          NaN
1                             NaN         NaN            NaN          NaN
2                             NaN         NaN            NaN          NaN
3                             NaN         NaN            NaN          NaN
4  Combined Heat And\nPower Plant  Plant Name  Operator Name  Operator Id

    Unnamed: 5  Unnamed: 6         Unnamed: 7   Unnamed: 8  \
0          NaN         NaN                NaN          NaN
1          NaN         NaN                NaN          NaN
2          NaN         NaN                NaN          NaN
3          NaN         NaN                NaN          NaN
4  Plant State  NAICS Code  EIA Sector Number  Sector Name

              Unnamed: 9  ...  Unnamed: 57   Unnamed: 58   Unnamed: 59  \
0                    NaN  ...          NaN           NaN           NaN
1                    NaN  ...          NaN           NaN           NaN
2                    NaN  ...          NaN           NaN           NaN
3                    NaN  ...          NaN           NaN           NaN
4  Reported\nPrime Mover  ...  Netgen\nMay  Netgen\nJune  Netgen\nJuly

      Unnamed: 60                       Unnamed: 61  \
0             NaN                               NaN
1             NaN                               NaN
2             NaN                               NaN
3             NaN                      Year-To-Date
4  Netgen\nAugust  Total Fuel Consumption\nQuantity

                           Unnamed: 62                    Unnamed: 63  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                                  NaN                            NaN
3                                  NaN                            NaN
4  Electric Fuel Consumption\nQuantity  Total Fuel Consumption\nMMBtu

                    Unnamed: 64                      Unnamed: 65 Unnamed: 66
0                           NaN                              NaN         NaN
1                           NaN                              NaN         NaN
2                           NaN                              NaN         NaN
3                           NaN                              NaN         NaN
4  Elec Fuel Consumption\nMMBtu  Net Generation\n(Megawatthours)        YEAR

[5 rows x 67 columns]

In [5]:
dw = df.describe()
print(dw.describe())

       U.S. Department of Energy, The Energy Information Administration (EIA)  \
count                                            4.00000
mean                                         15302.25000
std                                          30563.83614
min                                              5.00000
25%                                             15.50000
50%                                             28.00000
75%                                          15314.75000
max                                          61148.00000

         Unnamed: 4  Unnamed: 6  Unnamed: 7  Unnamed: 13  Unnamed: 14  \
count      4.000000    4.000000    4.000000     4.000000       4.0000
mean    3889.750000   22.000000   14.250000    17.250000      17.2500
std     7738.173099   13.589211   15.107945    14.384598      14.0327
min       10.000000    3.000000    1.000000     0.000000       0.0000
25%       16.000000   17.250000    3.250000    11.250000      11.2500
50%       26.000000   25.500000   11.000000    17.000000      17.5000
75%     3899.750000   30.250000   22.000000    23.000000      23.5000
max    15497.000000   34.000000   34.000000    35.000000      34.0000

       Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  ...  Unnamed: 57  \
count     4.000000      4.00000      4.00000      4.00000  ...     4.000000
mean     17.250000     17.25000     17.25000     17.25000  ...    17.250000
std      13.889444     13.93736     13.93736     13.93736  ...    16.317169
min       0.000000      0.00000      0.00000      0.00000  ...     0.000000
25%      12.750000     12.00000     12.00000     12.00000  ...     5.250000
50%      17.500000     17.50000     17.50000     17.50000  ...    17.500000
75%      22.000000     22.75000     22.75000     22.75000  ...    29.500000
max      34.000000     34.00000     34.00000     34.00000  ...    34.000000

       Unnamed: 58  Unnamed: 59  Unnamed: 60  Unnamed: 61  Unnamed: 62  \
count     4.000000     4.000000     4.000000     4.000000     4.000000
mean     17.250000    17.250000    17.250000    17.750000    17.250000
std      16.317169    16.317169    16.317169    14.660036    14.174508
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       5.250000     5.250000     5.250000    10.500000    10.500000
50%      17.500000    17.500000    17.500000    18.000000    17.500000
75%      29.500000    29.500000    29.500000    25.250000    24.250000
max      34.000000    34.000000    34.000000    35.000000    34.000000

       Unnamed: 63  Unnamed: 64  Unnamed: 65  Unnamed: 66
count     4.000000     4.000000      4.00000     4.000000
mean     17.250000    17.250000     17.25000   523.250000
std      15.173991    15.173991     17.23127  1000.610272
min       0.000000     0.000000      0.00000     2.000000
25%       7.500000     7.500000      3.75000    25.250000
50%      17.500000    17.500000     17.50000    33.500000
75%      27.250000    27.250000     31.00000   531.500000
max      34.000000    34.000000     34.00000  2024.000000

[8 rows x 58 columns]

In [6]:
dt = df.info()
print(dt.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 67 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   U.S. Department of Energy, The Energy Information Administration (EIA)  37 non-null     object
 1   Unnamed: 1                                                              34 non-null     object
 2   Unnamed: 2                                                              34 non-null     object
 3   Unnamed: 3                                                              34 non-null     object
 4   Unnamed: 4                                                              34 non-null     object
 5   Unnamed: 5                                                              34 non-null     object
 6   Unnamed: 6                                                              34 non-null     object
 7   Unnamed: 7                                                              34 non-null     object
 8   Unnamed: 8                                                              34 non-null     object
 9   Unnamed: 9                                                              34 non-null     object
 10  Unnamed: 10                                                             34 non-null     object
 11  Unnamed: 11                                                             34 non-null     object
 12  Unnamed: 12                                                             27 non-null     object
 13  Unnamed: 13                                                             35 non-null     object
 14  Unnamed: 14                                                             34 non-null     object
 15  Unnamed: 15                                                             34 non-null     object
 16  Unnamed: 16                                                             34 non-null     object
 17  Unnamed: 17                                                             34 non-null     object
 18  Unnamed: 18                                                             34 non-null     object
 19  Unnamed: 19                                                             34 non-null     object
 20  Unnamed: 20                                                             34 non-null     object
 21  Unnamed: 21                                                             35 non-null     object
 22  Unnamed: 22                                                             34 non-null     object
 23  Unnamed: 23                                                             34 non-null     object
 24  Unnamed: 24                                                             34 non-null     object
 25  Unnamed: 25                                                             34 non-null     object
 26  Unnamed: 26                                                             34 non-null     object
 27  Unnamed: 27                                                             34 non-null     object
 28  Unnamed: 28                                                             34 non-null     object
 29  Unnamed: 29                                                             35 non-null     object
 30  Unnamed: 30                                                             34 non-null     object
 31  Unnamed: 31                                                             34 non-null     object
 32  Unnamed: 32                                                             34 non-null     object
 33  Unnamed: 33                                                             34 non-null     object
 34  Unnamed: 34                                                             34 non-null     object
 35  Unnamed: 35                                                             34 non-null     object
 36  Unnamed: 36                                                             34 non-null     object
 37  Unnamed: 37                                                             35 non-null     object
 38  Unnamed: 38                                                             34 non-null     object
 39  Unnamed: 39                                                             34 non-null     object
 40  Unnamed: 40                                                             34 non-null     object
 41  Unnamed: 41                                                             34 non-null     object
 42  Unnamed: 42                                                             34 non-null     object
 43  Unnamed: 43                                                             34 non-null     object
 44  Unnamed: 44                                                             34 non-null     object
 45  Unnamed: 45                                                             35 non-null     object
 46  Unnamed: 46                                                             34 non-null     object
 47  Unnamed: 47                                                             34 non-null     object
 48  Unnamed: 48                                                             34 non-null     object
 49  Unnamed: 49                                                             34 non-null     object
 50  Unnamed: 50                                                             34 non-null     object
 51  Unnamed: 51                                                             34 non-null     object
 52  Unnamed: 52                                                             34 non-null     object
 53  Unnamed: 53                                                             35 non-null     object
 54  Unnamed: 54                                                             34 non-null     object
 55  Unnamed: 55                                                             34 non-null     object
 56  Unnamed: 56                                                             34 non-null     object
 57  Unnamed: 57                                                             34 non-null     object
 58  Unnamed: 58                                                             34 non-null     object
 59  Unnamed: 59                                                             34 non-null     object
 60  Unnamed: 60                                                             34 non-null     object
 61  Unnamed: 61                                                             35 non-null     object
 62  Unnamed: 62                                                             34 non-null     object
 63  Unnamed: 63                                                             34 non-null     object
 64  Unnamed: 64                                                             34 non-null     object
 65  Unnamed: 65                                                             34 non-null     object
 66  Unnamed: 66                                                             34 non-null     object
dtypes: object(67)
memory usage: 20.0+ KB

AttributeError: 'NoneType' object has no attribute 'info'

In [8]:
duplicate_rows = df.duplicated()
print(duplicate_rows)
num_duplicates = duplicate_rows.sum()
print(f"{num_duplicates} rows are duplicated")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
dtype: bool
0 rows are duplicated

In [11]:
for col in df.columns:
    print(f"\nMode for {col}:")
    print(df[col].mode())

Mode for U.S. Department of Energy, The Energy Information Administration (EIA):
0    61146
1    61148
Name: U.S. Department of Energy, The Energy Information Administration (EIA), dtype: object

Mode for Unnamed: 1:
0    Y
Name: Unnamed: 1, dtype: object

Mode for Unnamed: 2:
0             Aguirre Plant
1    Central San Juan Plant
Name: Unnamed: 2, dtype: object

Mode for Unnamed: 3:
0    Puerto Rico Electric Pwr Authority
Name: Unnamed: 3, dtype: object

Mode for Unnamed: 4:
0    15497
Name: Unnamed: 4, dtype: object

Mode for Unnamed: 5:
0    PR
Name: Unnamed: 5, dtype: object

Mode for Unnamed: 6:
0    22
Name: Unnamed: 6, dtype: object

Mode for Unnamed: 7:
0    1
Name: Unnamed: 7, dtype: object

Mode for Unnamed: 8:
0    Electric Utility
Name: Unnamed: 8, dtype: object

Mode for Unnamed: 9:
0    ST
Name: Unnamed: 9, dtype: object

Mode for Unnamed: 10:
0    DFO
Name: Unnamed: 10, dtype: object

Mode for Unnamed: 11:
0    DFO
Name: Unnamed: 11, dtype: object

Mode for Unnamed: 12:
0    barrels
Name: Unnamed: 12, dtype: object

Mode for Unnamed: 13:
0    0
Name: Unnamed: 13, dtype: object

Mode for Unnamed: 14:
0    0
Name: Unnamed: 14, dtype: object

Mode for Unnamed: 15:
0    0
Name: Unnamed: 15, dtype: object

Mode for Unnamed: 16:
0    0
Name: Unnamed: 16, dtype: object

Mode for Unnamed: 17:
0    0
Name: Unnamed: 17, dtype: object

Mode for Unnamed: 18:
0    0
Name: Unnamed: 18, dtype: object

Mode for Unnamed: 19:
0    0
Name: Unnamed: 19, dtype: object

Mode for Unnamed: 20:
0    0
Name: Unnamed: 20, dtype: object

Mode for Unnamed: 21:
0    0
Name: Unnamed: 21, dtype: object

Mode for Unnamed: 22:
0    0
Name: Unnamed: 22, dtype: object

Mode for Unnamed: 23:
0    0
Name: Unnamed: 23, dtype: object

Mode for Unnamed: 24:
0    0
Name: Unnamed: 24, dtype: object

Mode for Unnamed: 25:
0    0
Name: Unnamed: 25, dtype: object

Mode for Unnamed: 26:
0    0
Name: Unnamed: 26, dtype: object

Mode for Unnamed: 27:
0    0
Name: Unnamed: 27, dtype: object

Mode for Unnamed: 28:
0    0
Name: Unnamed: 28, dtype: object

Mode for Unnamed: 29:
0    0
Name: Unnamed: 29, dtype: object

Mode for Unnamed: 30:
0    0
Name: Unnamed: 30, dtype: object

Mode for Unnamed: 31:
0    0
Name: Unnamed: 31, dtype: object

Mode for Unnamed: 32:
0    0
Name: Unnamed: 32, dtype: object

Mode for Unnamed: 33:
0    0
Name: Unnamed: 33, dtype: object

Mode for Unnamed: 34:
0    0
Name: Unnamed: 34, dtype: object

Mode for Unnamed: 35:
0    0
Name: Unnamed: 35, dtype: object

Mode for Unnamed: 36:
0    0
Name: Unnamed: 36, dtype: object

Mode for Unnamed: 37:
0    0
Name: Unnamed: 37, dtype: object

Mode for Unnamed: 38:
0    0
Name: Unnamed: 38, dtype: object

Mode for Unnamed: 39:
0    0
Name: Unnamed: 39, dtype: object

Mode for Unnamed: 40:
0    0
Name: Unnamed: 40, dtype: object

Mode for Unnamed: 41:
0    0
Name: Unnamed: 41, dtype: object

Mode for Unnamed: 42:
0    0
Name: Unnamed: 42, dtype: object

Mode for Unnamed: 43:
0    0
Name: Unnamed: 43, dtype: object

Mode for Unnamed: 44:
0    0
Name: Unnamed: 44, dtype: object

Mode for Unnamed: 45:
0    0
Name: Unnamed: 45, dtype: object

Mode for Unnamed: 46:
0    0
Name: Unnamed: 46, dtype: object

Mode for Unnamed: 47:
0    0
Name: Unnamed: 47, dtype: object

Mode for Unnamed: 48:
0    0
Name: Unnamed: 48, dtype: object

Mode for Unnamed: 49:
0    0
Name: Unnamed: 49, dtype: object

Mode for Unnamed: 50:
0    0
Name: Unnamed: 50, dtype: object

Mode for Unnamed: 51:
0    0
Name: Unnamed: 51, dtype: object

Mode for Unnamed: 52:
0    0
Name: Unnamed: 52, dtype: object

Mode for Unnamed: 53:
0    0
Name: Unnamed: 53, dtype: object

Mode for Unnamed: 54:
0    0
Name: Unnamed: 54, dtype: object

Mode for Unnamed: 55:
0    0
Name: Unnamed: 55, dtype: object

Mode for Unnamed: 56:
0    0
Name: Unnamed: 56, dtype: object

Mode for Unnamed: 57:
0    0
Name: Unnamed: 57, dtype: object

Mode for Unnamed: 58:
0    0
Name: Unnamed: 58, dtype: object

Mode for Unnamed: 59:
0    0
Name: Unnamed: 59, dtype: object

Mode for Unnamed: 60:
0    0
Name: Unnamed: 60, dtype: object

Mode for Unnamed: 61:
0    0
Name: Unnamed: 61, dtype: object

Mode for Unnamed: 62:
0    0
Name: Unnamed: 62, dtype: object

Mode for Unnamed: 63:
0    0
Name: Unnamed: 63, dtype: object

Mode for Unnamed: 64:
0    0
Name: Unnamed: 64, dtype: object

Mode for Unnamed: 65:
0    0
Name: Unnamed: 65, dtype: object

Mode for Unnamed: 66:
0    2024
Name: Unnamed: 66, dtype: object

In [12]:
# Calculate mean for all columns
mean_values = df.mean(numeric_only=True)
print("Mean values:")
print(mean_values)

# Calculate median for all columns
median_values = df.median(numeric_only=True)
print("\nMedian values:")
print(median_values)

# Calculate mode for all columns
mode_values = df.mode()
print("\nMode values:")
print(mode_values)

Mean values:
Series([], dtype: float64)

Median values:
Series([], dtype: float64)

Mode values:
  U.S. Department of Energy, The Energy Information Administration (EIA)  \
0                                              61146
1                                              61148

  Unnamed: 1              Unnamed: 2                          Unnamed: 3  \
0          Y           Aguirre Plant  Puerto Rico Electric Pwr Authority
1        NaN  Central San Juan Plant                                 NaN

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7        Unnamed: 8 Unnamed: 9  \
0      15497         PR         22          1  Electric Utility         ST
1        NaN        NaN        NaN        NaN               NaN        NaN

   ... Unnamed: 57 Unnamed: 58 Unnamed: 59 Unnamed: 60 Unnamed: 61  \
0  ...           0           0           0           0           0
1  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 62 Unnamed: 63 Unnamed: 64 Unnamed: 65 Unnamed: 66
0           0           0           0           0        2024
1         NaN         NaN         NaN         NaN         NaN

[2 rows x 67 columns]

In [13]:
# Get all statistics at once
summary_stats = df.describe()
print(summary_stats)

# Or create your own summary
summary = pd.DataFrame({
    'Mean': df.mean(numeric_only=True),
    'Median': df.median(numeric_only=True),
    'Mode': df.mode().iloc[0]  # Gets first mode if multiple exist
})
print(summary)

        U.S. Department of Energy, The Energy Information Administration (EIA)  \
count                                                  37
unique                                                 19
top                                                 61148
freq                                                    5

       Unnamed: 1              Unnamed: 2                          Unnamed: 3  \
count          34                      34                                  34
unique          3                      16                                  10
top             Y  Central San Juan Plant  Puerto Rico Electric Pwr Authority
freq           17                       5                                  18

        Unnamed: 4 Unnamed: 5  Unnamed: 6  Unnamed: 7        Unnamed: 8  \
count           34         34          34          34                34
unique          10          2           3           4                 4
top          15497         PR          22           1  Electric Utility
freq            18         33          29          18                18

       Unnamed: 9  ... Unnamed: 57 Unnamed: 58 Unnamed: 59  Unnamed: 60  \
count          34  ...          34          34          34           34
unique         10  ...          28          28          28           28
top            ST  ...           0           0           0            0
freq            8  ...           7           7           7            7

        Unnamed: 61  Unnamed: 62  Unnamed: 63  Unnamed: 64  Unnamed: 65  \
count            35           34           34           34           34
unique           22           21           25           25           30
top               0            0            0            0            0
freq             14           14           10           10            5

        Unnamed: 66
count            34
unique            2
top            2024
freq             33

[4 rows x 67 columns]
                                                    Mean  Median  \
U.S. Department of Energy, The Energy Informati...   NaN     NaN
Unnamed: 1                                           NaN     NaN
Unnamed: 10                                          NaN     NaN
Unnamed: 11                                          NaN     NaN
Unnamed: 12                                          NaN     NaN
...                                                  ...     ...
Unnamed: 65                                          NaN     NaN
Unnamed: 66                                          NaN     NaN
Unnamed: 7                                           NaN     NaN
Unnamed: 8                                           NaN     NaN
Unnamed: 9                                           NaN     NaN

                                                                Mode
U.S. Department of Energy, The Energy Informati...             61146
Unnamed: 1                                                         Y
Unnamed: 10                                                      DFO
Unnamed: 11                                                      DFO
Unnamed: 12                                                  barrels
...                                                              ...
Unnamed: 65                                                        0
Unnamed: 66                                                     2024
Unnamed: 7                                                         1
Unnamed: 8                                          Electric Utility
Unnamed: 9                                                        ST

[67 rows x 3 columns]

In [17]:
print(df.iloc[0:20, 0:10])

   U.S. Department of Energy, The Energy Information Administration (EIA)  \
0   EIA-923 Puerto Rico Monthly Generation and Fue...
1                Sources: EIA-923 and EIA-860 Reports
2   Note: Generation and fuel consumption data col...
3                                                 NaN
4                                            Plant Id
5                                               61014
6                                               61034
7                                               61034
8                                               61034
9                                               61034
10                                              61036
11                                              61082
12                                              61082
13                                              61083
14                                              61083
15                                              61110
16                                              61110
17                                              61110
18                                              61132
19                                              61133

                        Unnamed: 1                    Unnamed: 2  \
0                              NaN                           NaN
1                              NaN                           NaN
2                              NaN                           NaN
3                              NaN                           NaN
4   Combined Heat And\nPower Plant                    Plant Name
5                                N      Pattern Santa Isabel LLC
6                                Y                  EcoElectrica
7                                Y                  EcoElectrica
8                                Y                  EcoElectrica
9                                Y                  EcoElectrica
10                               N                   AES ILUMINA
11                               N               AES Puerto Rico
12                               N               AES Puerto Rico
13                               N          Oriana Energy Hybrid
14                               N          Oriana Energy Hybrid
15                               N  San Fermin Solar Farm Hybrid
16                               N  San Fermin Solar Farm Hybrid
17                               N  San Fermin Solar Farm Hybrid
18                               N          Punta Lima Wind Farm
19                               N    Humacao Solar Project, LLC

                       Unnamed: 3   Unnamed: 4   Unnamed: 5  Unnamed: 6  \
0                             NaN          NaN          NaN         NaN
1                             NaN          NaN          NaN         NaN
2                             NaN          NaN          NaN         NaN
3                             NaN          NaN          NaN         NaN
4                   Operator Name  Operator Id  Plant State  NAICS Code
5            Pattern Operators LP        56545           PR          22
6                 EcoElectrica LP        60671           PR        2122
7                 EcoElectrica LP        60671           PR        2122
8                 EcoElectrica LP        60671           PR        2122
9                 EcoElectrica LP        60671           PR        2122
10               AES ILUMINA, LLC        60673           PR          22
11             AES Puerto Rico LP        60697           PR          22
12             AES Puerto Rico LP        60697           PR          22
13              Oriana Energy LLC        60698           PR          22
14              Oriana Energy LLC        60698           PR          22
15      San Fermin Solar Farm LLC        60725           PR          22
16      San Fermin Solar Farm LLC        60725           PR          22
17      San Fermin Solar Farm LLC        60725           PR          22
18      Punta Lima Wind Farm, LLC        60753           PR          22
19  Fonroche Energy America, Inc.        60754           PR          22

           Unnamed: 7              Unnamed: 8             Unnamed: 9
0                 NaN                     NaN                    NaN
1                 NaN                     NaN                    NaN
2                 NaN                     NaN                    NaN
3                 NaN                     NaN                    NaN
4   EIA Sector Number             Sector Name  Reported\nPrime Mover
5                   2      NAICS-22 Non-Cogen                     WT
6                   7  Industrial NAICS Cogen                     CA
7                   7  Industrial NAICS Cogen                     CA
8                   7  Industrial NAICS Cogen                     CT
9                   7  Industrial NAICS Cogen                     CT
10                  2      NAICS-22 Non-Cogen                     PV
11                  2      NAICS-22 Non-Cogen                     ST
12                  2      NAICS-22 Non-Cogen                     ST
13                  2      NAICS-22 Non-Cogen                     BA
14                  2      NAICS-22 Non-Cogen                     PV
15                  2      NAICS-22 Non-Cogen                     BA
16                  2      NAICS-22 Non-Cogen                     IC
17                  2      NAICS-22 Non-Cogen                     PV
18                  2      NAICS-22 Non-Cogen                     WT
19                  2      NAICS-22 Non-Cogen                     PV

In [14]:
#null values
null_counts = df.isnull().sum()
print("Number of null values in each column:")
print(null_counts)
#percentage of null
null_percentages = (df.isnull().sum()/len(df))*100
print("\nPercentage of null values in each column:")
print(null_percentages)
#fill null values with mean for numeric column
df_filled = df.fillna(df.mean(numeric_only=True))

Number of null values in each column:
U.S. Department of Energy, The Energy Information Administration (EIA)    1
Unnamed: 1                                                                4
Unnamed: 2                                                                4
Unnamed: 3                                                                4
Unnamed: 4                                                                4
                                                                         ..
Unnamed: 62                                                               4
Unnamed: 63                                                               4
Unnamed: 64                                                               4
Unnamed: 65                                                               4
Unnamed: 66                                                               4
Length: 67, dtype: int64

Percentage of null values in each column:
U.S. Department of Energy, The Energy Information Administration (EIA)     2.631579
Unnamed: 1                                                                10.526316
Unnamed: 2                                                                10.526316
Unnamed: 3                                                                10.526316
Unnamed: 4                                                                10.526316
                                                                            ...
Unnamed: 62                                                               10.526316
Unnamed: 63                                                               10.526316
Unnamed: 64                                                               10.526316
Unnamed: 65                                                               10.526316
Unnamed: 66                                                               10.526316
Length: 67, dtype: float64

In [15]:
remaining_nulls = df.isnull().sum()
print("\nReamaning null values after filling:")
print(remaining_nulls)

Reamaning null values after filling:
U.S. Department of Energy, The Energy Information Administration (EIA)    1
Unnamed: 1                                                                4
Unnamed: 2                                                                4
Unnamed: 3                                                                4
Unnamed: 4                                                                4
                                                                         ..
Unnamed: 62                                                               4
Unnamed: 63                                                               4
Unnamed: 64                                                               4
Unnamed: 65                                                               4
Unnamed: 66                                                               4
Length: 67, dtype: int64

This week, you will do the same types of exercises as last week, but you should use your own datasets that you found last semester.

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!

- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.